/**
 * Lieu        : ETML, Sébeillon
 * Auteur      : Amir Zeqiri
 * Date        : 09.01.2024
 * Description : Ce code CSS applique une réinitialisation des marges, paddings, et la boîte de
 modèle à tous les éléments HTML. Il stylise le corps de la page en utilisant Flexbox pour centrer
 son contenu, avec un fond gris clair et un curseur en forme de cellule. Le canvas, utilisé pour le
 rendu du jeu, a une bordure verte et masque le curseur par défaut.
 **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgb(225, 225, 225);
  cursor: cell;
}

canvas {
  border: 7px solid rgb(15, 200, 39);
  cursor: none;
}
